* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    width: 100%;
    overflow-x: hidden; /* Ngăn tràn ngang */
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.images-container img {
    padding: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
.game-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    flex-shrink: 0;
}
.tuaNhac button{
    background-color: white;
    color: green; 
    border-color: #45a049;
    border-radius: 5px;
    border-style: solid;
    transition: background-color 0.3s, color 0.3s;
}

.tuaNhac button:hover {
    background-color: #45a049;
    color: white
}
.tuaNhac button:active {
    opacity: 0.5;
}

.phatNhac button{
    background-color: black;
    color: cyan; 
    transition: background-color 0.3s, color 0.3s;
}
.phatNhac button:hover {
    background-color: cyan;
    color: black;
}
.phatNhac button:active {
    opacity: 0.5;;
}
button {
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
button:active {
    opacity: 0.5;
}
.dice-container {
    margin: 20px 0;
}

.dice {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.balance, .betting, .deposit {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.deposit button {
    background-color: #FF5722;
}

.deposit button:hover {
    background-color: #e64a19;
}